<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Книги</title>
</head>
<body>

<div th:each="book : ${books}">
    <a th:href="@{/books/{id}(id=${book.getId()})}"
       th:text="${book.getAuthor()} + ', ' +
       ${book.getTitle()} + ', ' +
       ${book.getYear()}"></a>
</div>

<!--<hr/>-->
<!--<form th:method="GET" th:action="@{/books/{id}/edit(id=${book.getId()})}">-->
<!--    <input type="submit" value="Сортировка по автору"/>-->
<!--</form>-->

<br/>
<hr/>

<a th:href="@{/books/new}">Добавить книгу</a>

</body>
</html>